@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
:root{
    --color-blue1: #003090;
    --color-blue2: #0b56a4;
    --color-blue3: #112a45;
    --color-fox1: #ba7c00;
    --color-fox2: #dca900;
}

*{
    margin: 0;
    padding: 0;
}


.footer{

    color: aliceblue;
    background: #114FA7;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    font-family: 'Poppins';
    position: fixed;
    bottom: 0;
    width: 84%;
    height: 80px;
    
    padding-left: 160px;
    padding-right: 160px;
     }

     
     header{
        left: 0px;
        top: 0px;
        
        background: #226ED8;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 160px;
        padding-top: 20px;
        padding-right: 160px;
        padding-bottom: 20px;
        font-family: 'Poppins';
        
        
        color: aliceblue;
        
        
        }
        
        .backgraudof{
            background-color: #226ED8;
            border: none;
        }
        
        .text-bold:hover{color: #FFFFFF}
             









.frase{

width: 34px;
height: 34px;
left: 181px;
top: 133px;

background: #FFF5C0;

width: 620px;
height: 119px;
left: 160px;
top: 112px;

background: #FFFFFF;
box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.04);
border-radius: 20px;
}

.frase1{

width: 75px;
height: 18px;
left: 227px;
top: 128px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #141414;
}

.fre{
    display: grid;
    margin-top: 10px;
}
.frase img{
    width: 75px;
    height: 75px;
}
.frase{

    width: 620px;
    height: 119px;
    margin-left: 160px;
    margin-top: 112px;
    display: flex;
    margin-bottom: 40px;
    
    
    background: #FFFFFF;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
}

.frase1{
font-family: 'Poppins';
font-style: bold;
font-weight: 700;
font-size: 15px;
line-height: 18px;

display: flex;
align-items: center;
text-align: center;

color: #141414;

}

.telap{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    align-items: center;
    
}

.emCima{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.submit{
    border: none;
    background-color: #FFFFFF;
}


.quadro{
    background-color: #EEEEEE;
    width: 293px;
    height: 337px;
    border-radius: 10px;
    padding-top: 20px;


}


.p1{
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 253px;
    height: 74px;
    margin: 0 auto 30px auto;
    justify-content: space-between;
   
}
.superior p{
    font-weight: bold;
    margin-left: 12px;
   
}

.superior{
   display: flex;
   justify-content: space-between;
  
}
.trespontos{
width: 20px;
height: 20px;

border: none;
background-color: #FFFFFF;
border-radius: 10px;


font-family: 'Material Icons';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */

display: flex;
align-items: center;
}

.botaosetab{
width: 25px;
height: 25px;
left: 94px;
top: 46px;
background-color: #FFFFFF;
border: none;

font-family: 'Material Icons';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: -0.017em;

color: #141414;
}

.botaoex{
width: 71px;
height: 31px;
padding-top: 7px;

background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
display: flex;
justify-content: space-around;
}

.botaosetad{
    width: 17px;
height: 17px;
left: 223px;
top: 174px;

font-family: 'Material Icons';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */

display: flex;
align-items: center;
background-color: blue;
border-radius: 10px;
color: #FFFFFF;
padding-left: 3px;
margin-right: 10px;


}

.botaosetae{
    width: 17px;
    height: 17px;
    left: 223px;
    top: 174px;
    
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
    padding-left: 3px;
    margin-right: 10px;
    display: flex;    
    margin-left: 50px;
}

.botaovolta{
    width: 17px;
    height: 17px;
    left: 223px;
    top: 174px;
    padding-left: 1px;
    padding-bottom: 2.5px;
font-family: 'Material Icons';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* identical to box height */

display: flex;
align-items: center;

color: #FFFFFF;
border-radius: 20px;
background-color: blue;
margin-right: 10px;
}

.inferior{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 12px;
}

.superior1{
  display: flex;
  text-decoration: line-through;
}