@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');


header{
left: 0px;
top: 0px;

background: #226ED8;
box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);

display: flex;
align-items: center;
justify-content: space-between;
padding-left: 160px;
padding-top: 20px;
padding-right: 160px;
padding-bottom: 20px;
font-family: 'Poppins';


color: aliceblue;


}

.backgraudof{
    background-color: #226ED8;
    border: none;
}

.text-bold:hover{color: #FFFFFF}

